//   1) мобильная версия почти готова, для адаптива нужны правки
//   2) вырезать правильно кривую и оптимизировать

.hero {
  background-color: var(--white-color);

  .container {
    padding-top: 109.5px;
    padding-bottom: 20px;
    height: 618px;
    background-image: url(../images/hero_women_group.png),
      url(../images/bg-line.png);
    background-position: center bottom 47px, center bottom -42px;
    background-size: 208px 177.5px, contain;
    background-repeat: no-repeat, no-repeat;
    // @media screen and (min-width: 768px) {
    //    padding-top: 158px;
    //    height: 556px;
    //    background-position: right bottom 64px, center bottom;
    //    background-size: 378px 320.5px, contain;
    // }
    // @media screen and (min-width: 1344px) {
    //    padding-top: 228.5px;
    //    height: 878px;
    //    background-position: right -25px bottom 11px, center bottom;
    //    background-size: 841.55px 718.14px, contain;
    // }
  }

  &__title {
    font-weight: 800;
    font-size: 20px;
    line-height: 1.36;
    letter-spacing: 0.03em;
    color: var(--black-color);

    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
      font-size: 26px;
      line-height: 1.3;
      width: 330px;
    }
    @media screen and (min-width: 1344px) {
      font-size: 58px;
      width: 640px;
    }
  }

  // .hero__top-text

  &__top-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.08em;
    color: var(--grey-color);
    // @media screen and (min-width: 768px) {
    //    font-size: 14px;
    //    line-height: 22px;
    //    /* or 157% */
    // }
  }

  // .hero__bottom-text

  &__bottom-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.08em;
    color: var(--black-color);

    margin-bottom: 30px;
  }

  // .hero__bottom-text--accent

  &__bottom-text--accent {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.08em;
    color: var(--orange-color);
  }
}
